{% extends 'base.html' %}
{% block content %}

<div class="board">
{% for l in lists %}
  <div class="list">
    <div class="list-title">{{ l.name }}</div>

    <div class="cards" data-list="{{ l.id }}">
      {% for c in cards if c.list_id == l.id %}
        <div class="card" draggable="true" data-id="{{c.id}}">
          {{ c.title }}
        </div>
      {% endfor %}
    </div>

    <form class="add-card" method="POST" action="/add_card">
      <input type="hidden" name="list_id" value="{{l.id}}">
      <input name="title" placeholder="+ Add a card">
    </form>
  </div>
{% endfor %}
</div>

{% endblock %}
